body {
    background-color: white;
}

.zixuan {
    color: #404040;
    font-size: 70px;
    font-family: 	"viner hand itc";

    position: relative;
    text-align: center;
    top: 160px;
    right: 135px;

}
.xenia{
    color: #404040;
    font-size: 30px;
    font-family: 	"viner hand itc";
    position: relative;
    text-align: center;
    left:45px;
    top:80px;

}
.zhou{
  color: #404040;
  font-size: 70px;
  font-family: 	"viner hand itc";
  position: relative;
  text-align: center;
  bottom: 1px;
  left: 190px;
}
div.decoration{
  position: relative;
  text-align: center;
  bottom: 40px;
}
.excit {
  color: #404040;
    position: relative;
    text-align: center;
    font-family: 	"viner hand itc";
    font-size: 15px;

}
.exist {
  color: #404040;
  position: relative;
  text-align: center;
    font-family: 	"viner hand itc";
    font-size: 15px;

}
.photo{
  position: relative;
  text-align: center;
  top: 60px;
}


.experience{
  color: #404040;
  position: relative;
  text-align: center;
  right: 250px;
    font-family: 	"viner hand itc";
    font-size: 30px;
    top:120px;
}
.column1{
  position: relative;
  text-align: center;
  right: 250px;
  top: 113px;
}
.text1{
  color: #404040;
  position: relative;
  text-align:center;
  right: 250px;
    font-family: 	"viner hand itc";
    font-size: 15px;
    top: 120px;
}
.egret{
  position:relative;
  text-align: center;
  left: 380px;
  bottom: 400px;
}
.pelican{
  position:relative;
  text-align: center;
  left: 200px;
  bottom: 250px;
}
.first{
  color: #404040;
  position: relative;
  text-align: center;
  right: 250px;
    font-family: 	"viner hand itc";
    font-size: 30px;
    bottom:200px;
}
.column2{
  position: relative;
  text-align: center;
  right: 250px;
  bottom: 205px;
}
div.text2{
  color: #404040;
  position: relative;
  text-align: center;
  right: 250px;
    font-family: "viner hand itc";
    font-size: 15px;
    bottom: 195px;
}
div.parent{
  position:relative;
  text-align: center;
  left: 380px;
  bottom: 550px;
}
div.teacher{
  position:relative;
  text-align: center;
  left: 200px;
  bottom: 700px;
}
