body {
    background-color: white;
}

.zixuan {
    color: #404040;
    font-size: 70px;
    font-family: 	"viner hand itc";

    position: relative;
    text-align: center;
    top: 180px;
    right: 135px;

}
.xenia{
    color: #404040;
    font-size: 30px;
    font-family: 	"viner hand itc";
    position: relative;
    text-align: center;
    left:45px;
    top: 100px;

}
.zhou{
  color: #404040;
  font-size: 70px;
  font-family: 	"viner hand itc";
  position: relative;
  text-align: center;
  top: 19px;
  left: 190px;
}
div.decoration{
  position: relative;
  text-align: center;
  top: 80px;
}
.excit {
  color: #404040;
    position: relative;
    text-align: center;
    font-family: 	"viner hand itc";
    font-size: 15px;
    top: 20px;
}
.exist {
  color: #404040;
  position: relative;
  text-align: center;
    font-family: 	"viner hand itc";
    font-size: 15px;
    top: 20px;
}
.photo{
  position: relative;
  text-align: center;
  top: 80px;
}


.experience{
  color: #404040;
  position: relative;
  text-align: center;
  right: 250px;
    font-family: 	"viner hand itc";
    font-size: 30px;
    top:140px;
}
.column1{
  position: relative;
  text-align: center;
  right: 250px;
  top: 133px;
}
.text1{
  color: #404040;
  position: relative;
  text-align:center;
  right: 250px;
    font-family: 	"viner hand itc";
    font-size: 15px;
    top: 140px;
}
.egret{
  position:relative;
  text-align: center;
  left: 380px;
  bottom: 380px;
}
.pelican{
  position:relative;
  text-align: center;
  left: 200px;
  bottom: 230px;
}
.first{
  color: #404040;
  position: relative;
  text-align: center;
  right: 250px;
    font-family: 	"viner hand itc";
    font-size: 30px;
    bottom:180px;
}
.column2{
  position: relative;
  text-align: center;
  right: 250px;
  bottom: 185px;
}
div.text2{
  color: #404040;
  position: relative;
  text-align: center;
  right: 250px;
    font-family: "viner hand itc";
    font-size: 15px;
    bottom: 175px;
}
div.parent{
  position:relative;
  text-align: center;
  left: 380px;
  bottom: 530px;
}
div.teacher{
  position:relative;
  text-align: center;
  left: 200px;
  bottom: 680px;
}
